<div class="container w-50 rounded text-center p-5 mt-5" style="background-color:rgba(30, 91, 157, 0.733)">
    <h1>Sign Up To Bank</h1>
    
    <form action="">
        <div class="p-3 mt-2">
            <input [(ngModel)]="uname" id="unamid" name="usern1" class="form-control" type="text"placeholder="User name">
        </div>

        <div class="p-3 mt-2">
            <input [(ngModel)]="acno" id="acid" name="acnum1" class="form-control" type="text"placeholder="Account number">
        </div>

        <div class="p-3 mt-2">
            <input [(ngModel)]="psw" id="psw1" name="paswrd1" class="form-control" type="password" placeholder="Password">
        </div>

        <div class="p-3 mt-2">
            <button type="button" (click)="register()" class="btn btn-outline-dark">Register</button>
        </div>

    </form>
</div>


